html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section
	{
	display: block
}

ol,ul {
	list-style: none
}

blockquote,q {
	quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

html {
	font-size: 100%;
	line-height: 1.5
}

body {
	color: #333;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none
}

strong,b {
	font-weight: bold
}

em,i {
	font-style: italic
}

.fsn {
	font-style: normal
}

pre,tt {
	font-family: monospace;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all
}

code {
	font-family: monospace;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

.pn-container,.pn-pcon {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 20px;
	padding: 0 1.25rem
}

.pn-columns:before,.pn-columns:after,.pn-columns-no-gutters:before,.pn-columns-no-gutters:after
	{
	content: " ";
	display: table
}

.pn-columns:after,.pn-columns-no-gutters:after {
	clear: both
}

.pn-columns,.pn-columns-no-gutters {
	*zoom: 1
}

img,object,embed,video,iframe,.size-auto,.size-full,.size-large,.size-medium,.size-thumbnail
	{
	max-width: 100% !important
}

img,.size-auto,.size-full,.size-large,.size-medium,.size-thumbnail {
	height: auto !important
}

.lt-ie8 img {
	-ms-interpolation-mode: bicubic
}

@media only screen and (min-width: 768px) {
	.pn-container,.pn-pcon {
		max-width: 960px
	}
	.pn-columns {
		margin: 0 -10px;
		margin: 0 -0.625rem
	}
	.pn-columns>div,.pn-columns-no-gutters>div {
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box
	}
	.pn-columns>div {
		padding: 0 10px;
		padding: 0 0.625rem
	}
	.pn-gutter-left {
		border-left: 1px solid #ccc
	}
	.pn-gutter-right {
		border-right: 1px solid #ccc
	}
	.pn-columns-rtl>div {
		float: right
	}
	.pn-col-6-1,.pn-one-sixth {
		width: 16.66666666%
	}
	.pn-col-6-2,.pn-col-3-1,.pn-one-third {
		width: 33.33333333%
	}
	.pn-col-6-3,.pn-col-4-2,.pn-col-2-1,.pn-one-half {
		width: 50%
	}
	.pn-col-6-4,.pn-col-3-2,.pn-two-thirds {
		width: 66.66667%
	}
	.pn-col-6-5,.pn-five-sixths {
		width: 83.33333%
	}
	.pn-col-6-6,.pn-col-5-5,.pn-one {
		width: 100%
	}
	.pn-col-5-1,.pn-one-fifth {
		width: 20%
	}
	.pn-col-5-2,.pn-two-fifths {
		width: 40%
	}
	.pn-col-5-3,.pn-three-fifths {
		width: 60%
	}
	.pn-col-5-4,.pn-four-fifths {
		width: 80%
	}
	.pn-col-4-1,.pn-one-fourth {
		width: 25%
	}
	.pn-col-4-3,.pn-three-fourths {
		width: 75%
	}
	.pn-col-9-4,.pn-four-ninths {
		width: 44.444444%
	}
	.pn-col-11-3,.pn-three-elevenths {
		width: 27.2727273%
	}
}

.pn-fluid-embed-wrap {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0
}

.pn-fluid-embed-wrap>.pn-fluid-embed {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%
}

.pn-il,.pn-copy .pn-il,.pn-subtabs,.pn-columns.blocks {
	font-size: 0rem;
	letter-spacing: -1em;
	word-spacing: -1em
}

.pn-il--center,.pn-align-center {
	text-align: center
}

.lt-ie8 .pn-inline-list {
	word-spacing: normal
}

.pn-il-item,.pn-copy .pn-il-item,.pn-copy .pn-il>li,.pn-subtab,.pn-columns.blocks>div
	{
	display: inline-block;
	font-size: 1rem;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top
}

.pn-columns.blocks>div {
	float: none
}

.pn-il--middle .pn-il-item {
	vertical-align: middle
}

.lt-ie8 .pn-il-item {
	display: inline;
	zoom: 1
}

.pn-block-list,.pn-bl {
	margin-left: 0 !important
}

.pn-block-list li,.pn-bl li {
	display: block
}

.pn-matrix {
	display: table
}

.pn-matrix-row {
	display: table-row
}

.pn-matrix-cell {
	display: table-cell;
	vertical-align: top
}

.pn-matrix-middle .pn-matrix-cell {
	vertical-align: middle
}

.no-js .only-js {
	display: none
}

.js .noscript,.js .only-no-js {
	display: none
}

.ptn,.pvn,.pan {
	padding-top: 0 !important
}

.ptxs,.pvxs,.paxs {
	padding-top: 5px !important;
	padding-top: 0.3125rem !important
}

.pts,.pvs,.pas {
	padding-top: 10px !important;
	padding-top: 0.625rem !important
}

.ptm,.pvm,.pam {
	padding-top: 20px !important;
	padding-top: 1.25rem !important
}

.ptl,.pvl,.pal {
	padding-top: 40px !important;
	padding-top: 2.5rem !important
}

.ptxl,.pvxl,.paxl {
	padding-top: 60px !important;
	padding-top: 3.75rem !important
}

.prn,.phn,.pan {
	padding-right: 0 !important
}

.prxs,.phxs,.paxs {
	padding-right: 5px !important;
	padding-right: 0.3125rem !important
}

.prs,.phs,.pas {
	padding-right: 10px !important;
	padding-right: 0.625rem !important
}

.prm,.phm,.pam {
	padding-right: 20px !important;
	padding-right: 1.25rem !important
}

.prl,.phl,.pal {
	padding-right: 40px !important;
	padding-right: 2.5rem !important
}

.prxl,.phxl,.paxl {
	padding-right: 60px !important;
	padding-right: 3.75rem !important
}

.pbn,.pvn,.pan {
	padding-bottom: 0 !important
}

.pbxs,.pvxs,.paxs {
	padding-bottom: 5px !important;
	padding-bottom: 0.3125rem !important
}

.pbs,.pvs,.pas {
	padding-bottom: 10px !important;
	padding-bottom: 0.625rem !important
}

.pbm,.pvm,.pam {
	padding-bottom: 20px !important;
	padding-bottom: 1.25rem !important
}

.pbl,.pvl,.pal {
	padding-bottom: 40px !important;
	padding-bottom: 2.5rem !important
}

.pbxl,.pvxl,.paxl {
	padding-bottom: 60px !important;
	padding-bottom: 3.75rem !important
}

.pln,.phn,.pan {
	padding-left: 0 !important
}

.plxs,.phxs,.paxs {
	padding-left: 5px !important;
	padding-left: 0.3125rem !important
}

.pls,.phs,.pas {
	padding-left: 10px !important;
	padding-left: 0.625rem !important
}

.plm,.phm,.pam {
	padding-left: 20px !important;
	padding-left: 1.25rem !important
}

.pll,.phl,.pal {
	padding-left: 40px !important;
	padding-left: 2.5rem !important
}

.plxl,.phxl,.paxl {
	padding-left: 60px !important;
	padding-left: 3.75rem !important
}

.mtn,.mvn,.man {
	margin-top: 0 !important
}

.mtxs,.mvxs,.maxs {
	margin-top: 5px !important;
	margin-top: 0.3125rem !important
}

.mts,.mvs,.mas {
	margin-top: 10px !important;
	margin-top: 0.625rem !important
}

.mtm,.mvm,.mam {
	margin-top: 20px !important;
	margin-top: 1.25rem !important
}

.mtl,.mvl,.mal {
	margin-top: 40px !important;
	margin-top: 2.5rem !important
}

.mtxl,.mvxl,.maxl {
	margin-top: 60px !important;
	margin-top: 3.75rem !important
}

.mrn,.mhn,.man {
	margin-right: 0 !important
}

.mrxs,.mhxs,.maxs {
	margin-right: 5px !important;
	margin-right: 0.3125rem !important
}

.mrs,.mhs,.mas {
	margin-right: 10px !important;
	margin-right: 0.625rem !important
}

.mrm,.mhm,.mam {
	margin-right: 20px !important;
	margin-right: 1.25rem !important
}

.mrl,.mhl,.mal {
	margin-right: 40px !important;
	margin-right: 2.5rem !important
}

.mrxl,.mhxl,.maxl {
	margin-right: 60px !important;
	margin-right: 3.75rem !important
}

.mbn,.mvn,.man {
	margin-bottom: 0 !important
}

.mbxs,.mvxs,.maxs {
	margin-bottom: 5px !important;
	margin-bottom: 0.3125rem !important
}

.mbs,.mvs,.mas {
	margin-bottom: 10px !important;
	margin-bottom: 0.625rem !important
}

.mbm,.mvm,.mam {
	margin-bottom: 20px !important;
	margin-bottom: 1.25rem !important
}

.mbl,.mvl,.mal {
	margin-bottom: 40px !important;
	margin-bottom: 2.5rem !important
}

.mbxl,.mvxl,.maxl {
	margin-bottom: 60px !important;
	margin-bottom: 3.75rem !important
}

.mln,.mhn,.man {
	margin-left: 0 !important
}

.mlxs,.mhxs,.maxs {
	margin-left: 5px !important;
	margin-left: 0.3125rem !important
}

.mls,.mhs,.mas {
	margin-left: 10px !important;
	margin-left: 0.625rem !important
}

.mlm,.mhm,.mam {
	margin-left: 20px !important;
	margin-left: 1.25rem !important
}

.mll,.mhl,.mal {
	margin-left: 40px !important;
	margin-left: 2.5rem !important
}

.mlxl,.mhxl,.maxl {
	margin-left: 60px !important;
	margin-left: 3.75rem !important
}

.cf:before,.cf:after {
	content: " ";
	display: table
}

.cf:after {
	clear: both
}

.cf {
	*zoom: 1
}

.hidden {
	display: none !important;
	visibility: hidden
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto
}

.invisible {
	visibility: hidden
}

.pos-rel {
	position: relative
}

.pos-abs {
	position: absolute
}

.fl {
	float: left
}

.fr {
	float: right
}

.cb,.clear {
	clear: both
}

.media {
	overflow: hidden;
	*overflow: visible;
	zoom: 1
}

.media-img {
	float: left
}

.media-img.flipped {
	float: right
}

.media-img img {
	display: block
}

.media-bd {
	overflow: hidden;
	*overflow: visible;
	zoom: 1
}

.flag {
	display: table
}

.flag-img,.flag-bd {
	display: table-cell;
	vertical-align: middle
}

.flag-img {
	white-space: nowrap
}

.flag-expand {
	width: 100%
}

.pn-size-medium,.pn-size-default,.pn-module-title,.pn-copy .pn-module-title,.pn-heading-3
	{
	font-size: 16px;
	font-size: 1rem
}

.pn-size-small,.pn-tabs-wrap,.pn-subtab,.pn-note .footnote,.pn-footnote
	{
	font-size: 14px;
	font-size: .875rem
}

.pn-size-mini {
	font-size: 11px;
	font-size: .687rem
}

.pn-size-tiny,.pn-tree .children a,.pn-vid-meta {
	font-size: 12px;
	font-size: .75rem
}

.pn-size-large,.pn-download-title,.pn-copy .pn-download-title,.pn-copy blockquote>p,.comment-author .pn-excerpt
	{
	font-size: 20px;
	font-size: 1.25rem
}

.pn-size-big,.pn-copy h2,.pn-h2 {
	font-size: 24px;
	font-size: 1.5rem
}

.pn-size-huge,.pn-page-title {
	font-size: 32px;
	font-size: 2rem
}

.pn-size-massive {
	font-size: 48px;
	font-size: 3rem
}

.links-std a,.links-dw a {
	text-decoration: none
}

.links-std a,.links-std a:visited {
	color: grey;
	text-decoration: none;
}

.links-std a:hover,.links-std a:active,.links-std a:focus {
	color: grey;
	text-decoration: none;
}

.links-dw a,.links-dw a:visited,.links-dw a:hover {
	color: #999
}

.links-dw a:hover,.links-dw a:active,.links-dw a:focus {
	color: #fff
}

.pn-btn {
	display: inline-block;
	line-height: 1;
	padding: .65em 2.5em;
	border: 0;
	color: #333 !important;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	background-color: #e7e7e7;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
	text-decoration: none !important
}

.pn-btn-3d {
	text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
	border: 1px solid #eee;
	border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.2)
		rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 -1px 3px rgba(255, 255, 255, 0.2), 0 1px 5px
		rgba(0, 0, 0, 0.33);
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.24)
		0%, rgba(255, 255, 255, 0) 100% );
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.24)
		0%, rgba(255, 255, 255, 0) 100% )
}

.pn-btn:hover,.pn-btn:focus {
	background-color: #eee
}

.pn-btn:active {
	background-image: none
}

.pn-btn[disabled],.pn-btn.disabled {
	cursor: default;
	cursor: not-allowed;
	opacity: .6;
	background-image: none;
	box-shadow: none
}

.lt-ie9 .pn-btn[disabled],.lt-ie9 .pn-btn.disabled {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity = 60)
}

.lt-ie8 .pn-btn {
	display: inline;
	zoom: 1
}

.pn-btn-small {
	padding: .5em 0.8em
}

.pn-btn-primary,.pn-btn-secondary {
	color: #fff !important
}

.pn-btn-primary {
	background-color: #2980b9
}

.pn-btn-primary:hover,.pn-btn-primary:focus {
	background-color: #3498db
}

.pn-btn-secondary {
	background-color: #1e9439
}

.pn-btn-secondary:hover,.pn-btn-secondary:focus {
	background-color: #3bc967
}

.pn-btn-ibm {
	background-color: #dbdbdb;
	color: #000 !important;
	border-color: #ccc;
	font-weight: bold;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6)
		0%, rgba(255, 255, 255, 0) 100% );
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%,
		rgba(255, 255, 255, 0) 100% )
}

.pn-btn-ibm:hover,.pn-btn-ibm:focus {
	background-color: #EEE
}

.pn-dw-master {
	font-size: 11px;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #000;
	background: #131624;
	background: -webkit-linear-gradient(top, #131624 0%, #1d1c28 100%);
	background: linear-gradient(to bottom, #131624 0%, #1d1c28 100%);
	padding: 0 5px 0 20px
}

.pn-dw-fed-logo {
	color: #fff !important;
	padding: 3px 0;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
}

.pn-dw-ibm {
	color: #47B2DC !important
}

.pn-login-link {
	float: left;
	padding: 3px 15px 3px;
	height: 100%;
	border-left: 1px solid #333
}

.pn-login-link .arrow {
	border-left-width: 4px;
	border-right-width: 4px;
	vertical-align: 0
}

.pn-dw-tab {
	border-left: 1px solid #333;
	float: right;
	padding-left: 5px
}

.pn-dw-tab img {
	display: block;
	margin-top: -1px
}

.arrow {
	display: inline-block;
	vertical-align: top;
	height: 0;
	width: 0;
	border-top: 6px solid;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent
}

.arrow-left {
	display: inline-block;
	vertical-align: middle;
	height: 0;
	width: 0;
	border-right: 5px solid;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent
}

.pn-btn .arrow {
	margin-top: 0.4em
}

.pn-dropdown-group {
	position: relative
}

.pn-dropdown-menu {
	display: none;
	z-index: 10;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	min-width: 200px;
	_width: 200px;
	padding: 5px 0;
	margin: 0 !important;
	list-style: none;
	background-color: white;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3)
}

.pn-dropdown-menu-text-sized,.pn-dropdown-menu-dw-login {
	top: 95%;
	left: auto;
	min-width: 95%;
	_width: 95%
}

.pn-dropdown-menu-dw-login {
	right: 5px
}

.is-open .pn-dropdown-menu {
	display: block
}

.pn-dropdown-menu li {
	display: block;
	margin-bottom: 0 !important
}

.pn-dropdown-menu .pn-dropdown-item,.pn-dropdown-menu a {
	display: block;
	white-space: nowrap;
	padding: .25em .625em
}

.pn-dropdown-menu a {
	color: #2980b9 !important
}

.pn-dropdown-menu a:hover,.pn-dropdown-menu a:focus {
	background-color: #efefef
}

.pn-menu.horizontal {
	border-bottom: 1px solid #aaa
}

.pn-sort-dir {
	font-size: .7em
}

#standalone-header {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	margin-top: 100px
}

#content {
	text-align: center;
	min-height: 360px;
	clear: both;
	height: 240px;
	position: relative
}

#content a {
	text-decoration: none
}

#ibm-unav-home-dwlogo {
	padding: 11px 14px 0px 20px
}

#ibm-universal-nav-dw li {
	float: left
}

.social-sprite {
	background: url("../socialicons.png") no-repeat scroll left top
		transparent;
	display: inline-block
}

.facebook-icon {
	background-position: 0 0;
	width: 30px;
	height: 30px
}

.rss-icon {
	background-position: 0 -80px;
	width: 30px;
	height: 30px
}

.twitter-icon {
	background-position: 0 -160px;
	width: 30px;
	height: 30px
}

.pn-top-menu {
	padding: .75em 0;
	background: #1c1c1e;
	background: -webkit-linear-gradient(top, #51535b 0%, #1c1c1e 100%);
	background: linear-gradient(to bottom, #51535b 0%, #1c1c1e 100%);
	border-bottom: 1px solid #222222;
	border-top: 1px solid #999999
}

.pn-search-input {
	-webkit-appearance: none;
	padding: .5em 30px .5em 1em;
	border: 2px solid #333;
	border-radius: 20px;
	width: 250px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1;
	height: 2.285714286em;
	color: #999;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear
}

.pn-header-tabbed,.pn-header-emphasis {
	background: #fafafa;
	background: -webkit-linear-gradient(top, rgba(254, 255, 255, 0) 0%,
		rgba(0, 0, 0, 0.06) 100% );
	background: linear-gradient(to bottom, rgba(254, 255, 255, 0) 0%,
		rgba(0, 0, 0, 0.06) 100% );
	border-bottom: 1px solid #dadada
}

.pn-header-tabbed {
	padding-bottom: 48px
}

.pn-page-header .pn-page-title {
	padding-top: 20px;
	margin-bottom: 16px
}

.pn-page-title {
	line-height: 1.2;
	color: #333;
	font-weight: normal;
	margin-bottom: 0.5em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200
}

.pn-tabs-wrap {
	overflow: hidden;
	margin-top: -2.32em;
	margin-bottom: 2.5em;
	background: -webkit-linear-gradient(top, rgba(254, 255, 255, 0) 0%,
		rgba(0, 0, 0, 0.05) 100% );
	background: linear-gradient(to bottom, rgba(254, 255, 255, 0) 0%,
		rgba(0, 0, 0, 0.05) 100% )
}

.pn-tabs {
	list-style: none;
	line-height: 1
}

.pn-tab {
	float: left;
	margin-right: .5em;
	border: 1px solid #dadada;
	border-bottom: none;
	opacity: .9;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out
}

.pn-tab.active {
	opacity: 1
}

.pn-tab a,.pn-tab .pn-tab-text {
	color: #333;
	font-weight: bold;
	display: block;
	padding: .75em 1.5em .5em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e5e5e5;
	white-space: nowrap;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

.pn-tab a:visited {
	color: #333
}

.pn-tab a:hover,.pn-tab a:focus {
	background-color: #eee
}

.pn-tab.active a,.pn-tab.active .pn-tab-text {
	background-color: #fff !important;
	background-image: none !important
}

.pn-subtab>a,.pn-subtab-text {
	line-height: 2;
	padding-left: .857142857em;
	padding-right: .857142857em
}

.pn-subtab:first-child>a,.pn-subtab:first-child>.pn-subtab-text,.pn-subtab-first>a,.pn-subtab-first>.pn-subtab-text
	{
	padding-left: 0
}

.pn-subtab+.pn-subtab {
	border-left: 1px solid #ccc
}

.pn-subtab.active>a {
	color: #333
}

.pn-subtab-smaller .arrow {
	margin-left: 3px;
	vertical-align: 1px;
	border-left-width: 4px;
	border-right-width: 4px
}

.js .pn-tab-panel {
	display: none;
	visibility: hidden
}

.js .pn-tab-panel.active {
	display: block;
	visibility: visible
}

.csstransitions .pn-tab-panel.drop {
	opacity: 0;
	-webkit-transform: translateY(50px);
	-moz-transform: translateY(50px);
	-o-transform: translateY(50px);
	transform: translateY(50px);
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out
}

.csstransitions .pn-tab-panel.drop.is-in {
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	transform: none
}

.csstransitions .fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear
}

.csstransitions .fade.is-in {
	opacity: 1
}

.pn-metatext {
	color: #666;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic
}

.pn-note {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic
}

.pn-module {
	border-top: 2px solid #666;
	margin-bottom: 48px;
	margin-bottom: 3rem
}

.pn-module-title,.pn-copy .pn-module-title {
	margin: .25em 0;
	padding: 0;
	font-weight: bold;
	text-transform: none;
	color: #000;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal
}

.pn-module-body {
	margin-top: 16px;
	margin-top: 1rem
}

.pn-download {
	border-top: 3px solid #cfcfd9;
	background-color: #f5f5f7;
	padding: 16px;
	padding: 1rem;
	margin-bottom: 48px;
	margin-bottom: 3rem
}

.pn-download-title,.pn-copy .pn-download-title {
	color: #333;
	line-height: 1.2;
	margin: 0 0 1em;
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-style: normal;
	text-transform: none
}

.pn-download-body {
	margin-top: 16px;
	margin-top: 1rem
}

.pn-fb-centered,.pn-fb-image {
	text-align: center
}

.pn-fb-image {
	margin-bottom: 5px
}

.pn-fb-image-link {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	line-height: 1;
	position: relative
}

.pn-fb-image-hover {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0
}

.pn-rounded {
	border-radius: 50%
}

.pn-fb-image-hover.pn-rounded {
	top: -1px
}

.lt-ie9 .pn-fb-image-hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0)
}

.pn-fb-image-hover:hover {
	background-color: rgba(241, 149, 0, 0.8);
	opacity: 1
}

.lt-ie9 .pn-fb-image-hover:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100)
}

.pn-tot {
	display: table;
	width: 100%
}

.pn-tot-this,.pn-tot-that,.pn-tot-or {
	display: table-cell;
	height: 100%
}

.pn-tot-or {
	vertical-align: middle;
	text-align: center
}

.pn-tot__download .pn-tot-this,.pn-tot__download .pn-tot-that {
	background-color: #f5f5f7
}

.pn-tree .children {
	margin-top: 1em
}

.pn-tree a {
	display: block;
	padding: 5px 5px 5px 15px;
	margin-right: -10px
}

.pn-tree>li>a {
	color: #333
}

.pn-tree .cat-item {
	margin-bottom: 1.5em
}

.pn-tree .children a {
	padding-left: 30px;
	text-transform: none;
	letter-spacing: normal;
	font-weight: normal
}

.pn-tree .current-cat>a {
	background-color: #eeeef2
}

.pn-nav-tree ul {
	margin: 0
}

.pn-nav-tree li {
	font-size: 14px;
	font-size: .875rem;
	font-weight: bold
}

.pn-nav-tree .children li {
	font-size: 12px;
	font-size: .75rem;
	font-weight: normal
}

.pn-nav-tree a {
	display: block;
	line-height: 1.2;
	padding: 10px 8px 10px 14px;
	color: #000 !important
}

.pn-nav-tree .children a {
	padding-left: 28px
}

.pn-nav-tree .children .children a {
	padding-left: 42px
}

.pn-nav-tree a:hover,.pn-nav-tree .toggle-wrap:hover {
	background-color: #f0f0f4
}

.pn-nav-tree .current_page_item>a,.pn-nav-tree .current-cat>a,.pn-nav-tree .current_page_item>.toggle-wrap,.pn-nav-tree .current-cat>.toggle-wrap
	{
	background-color: #f0f0f4
}

.pn-nav-tree a[role="radio"] {
	position: relative;
	padding-right: 16px
}

.pn-nav-tree a[role="radio"]>i {
	position: absolute;
	right: 0
}

.toggle-wrap {
	display: table;
	width: 100%
}

.pn-nav-tree ins {
	text-decoration: none
}

.pn-nav-tree .toggle-link {
	padding-left: 0 !important
}

.toggle-link,.toggle {
	display: table-cell;
	vertical-align: middle
}

.toggle {
	line-height: 0;
	cursor: pointer;
	width: 14px
}

.pn-nav-tree .toggle:hover {
	background-color: rgba(0, 0, 0, 0.05)
}

.children .toggle {
	padding-left: 14px
}

.children .children .toggle {
	padding-left: 28px
}

.js .toggle-image {
	display: block;
	height: 11px;
	width: 11px;
	background: url("/c/img/tree-toggle.png") no-repeat 0 0
}

.is-open>.toggle-wrap .toggle-image,.is-open>.toggle>.toggle-image {
	background-image: url("/c/img/tree-toggle-open.png")
}

.csstransitions .toggle-image {
	-webkit-transition: -webkit-transform .1s ease-in-out;
	transition: transform .1s ease-in-out
}

.csstransitions .is-open>.toggle-wrap .toggle-image,.csstransitions .is-open>.toggle>.toggle-image
	{
	background-image: url("/c/img/tree-toggle.png");
	transform: rotate(90deg);
	transform-origin: center center
}

.js .pn-nav-tree .is-closed>.children {
	display: none
}

.csstransitions .pn-nav-tree .children {
	max-height: 120em;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

.csstransitions .pn-nav-tree .is-closed>.children {
	display: block;
	max-height: 0;
	overflow: hidden
}

[data-accordion-panel] {
	padding-left: 15px
}

[data-accordion-panel][aria-hidden="true"] {
	display: none
}

.pn-heading-3 {
	font-weight: bold;
	font-family: sans-serif;
	color: #333
}

.pn-copy>*:first-child {
	margin-top: 0
}

.pn-copy h2,.pn-h2,.pn-copy h3,.pn-h3,.pn-copy h4,.pn-h4 .pn-copy h5,.pn-copy h6
	{
	font-weight: normal;
	font-family: sans-serif
}

.pn-copy h1 {
	margin-top: 1em;
	margin-bottom: 16px;
	margin-bottom: 1rem
}

.pn-copy h2,.pn-h2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200
}

.pn-copy h2 {
	margin: 32px 0;
	margin: 2rem 0
}

.pn-copy h3,.pn-h3 {
	font-weight: bold
}

.pn-copy h3 {
	margin: 1.25em 0 1em
}

.pn-copy h4 {
	color: #666;
	margin: 16px 0;
	margin: 1rem 0
}

.pn-copy h4,.pn-h4 {
	font-style: italic
}

.pn-copy p,.pn-module-body>p,.pn-download-body>p,.gallery {
	margin-top: 1em;
	margin-bottom: 1em
}

.pn-copy ol,.pn-copy ul,.pn-module-body>ol,.pn-download-body>ol,.pn-module-body>ul,.pn-download-body>ul
	{
	margin: 1em 0 1em 1.5em;
	padding: 0
}

.pn-copy ol,.pn-module-body>ol,.pn-download-body>ol {
	list-style-type: decimal
}

.pn-copy ul,.pn-module-body>ul,.pn-download-body>ul {
	list-style-type: square
}

.pn-copy li,.pn-module-body li .pn-download-body li {
	margin-bottom: .5em
}

.pn-copy blockquote {
	padding: 1em .75em;
	background-color: #f5f5f7;
	border-left: 3px solid #CCCCCC;
	color: #666666
}

.pn-copy blockquote>p {
	margin: 0;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif
}

.pn-copy blockquote>cite {
	display: block;
	margin-top: .5rem;
	margin-top: 8px
}

.pn-copy blockquote>cite:before {
	content: "\2014\2009"
}

.pn-copy pre {
	color: #000;
	padding: 10px 5px;
	background-color: #f7f7f7;
	overflow: auto;
	border-top: solid 3px #ccc
}

.pn-footer-menu-item {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: .25em 1.1em 1em;
	font-size: 12px;
	font-size: 0.6875rem;
	font-weight: bold
}

.pn-input {
	width: 14em;
	margin: 0;
	padding: 10px;
	line-height: 1;
	border-radius: 8px;
	border: 2px solid #ccc;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.pn-input-block {
	display: block;
	width: 100%
}

.pn-vid {
	display: block;
	padding: 4px 4px 5px;
	margin-bottom: 2em
}

.pn-vid:hover {
	background-color: #E6F3F9
}

.pn-vid img {
	vertical-align: top
}

.bounceOut {
	transition-property: opacity, transform;
	transition-duration: .25s;
	tranform-origin: 50% 50%;
	transition-timing-function: cubic-bezier(1, 0, 0.76, 1),
		cubic-bezier(0.6, 0, 0.6, 1.5)
}

.bounceOut.is-out {
	transform: scale(0, 0);
	opacity: 0;
	transition-timing-function: cubic-bezier(1, 0, 0.76, 1),
		cubic-bezier(0.6, -0.5, 0.6, 1)
}

.pn-vid-title {
	margin-top: 4px;
	line-height: 1.25
}

.pn-vid-meta {
	color: #003f69;
	margin-top: 4px
}

.pn-ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-repeat: no-repeat;
	display: inline-block
}

.pn-ir.thumbsup {
	vertical-align: top;
	height: 14px;
	width: 15px;
	background-image: url("/c/img/thumbs_up.png")
}

.pn-ir.radio {
	height: 14px;
	width: 14px;
	background-image: url("/c/img/radio_sprite.png");
	background-size: 14px;
	background-position: 0 0
}

[aria-checked="true"] .pn-ir.radio {
	background-position: 0 -14px
}

.flexbox.pn-sticky-footer {
	height: 100%
}

.flexbox.pn-sticky-footer>body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100%
}

.flexbox .pn-sticky-footer-body {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto
}
